.about {
  width: 800px;
  height: 100%;
  background-image: var(--evenBackground);
}
.about .merg ul {
  list-style: none;
}
.about .merg ul li {
  font-size: 25px;
  width: 80%;
  margin: 10px 0;
  padding: 15px 3px;
  color: var(--textTitle);
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  border-bottom: 1px solid var(--BorderInfo);
}
.about .merg ul li span {
  font-size: 23px;
  font-weight: 500;
  color: var(--wordDetails);
}
.about .profile {
  width: 100%;
  padding: 0px 20px 40px 0;
}
.about .merg h4 {
  border-bottom: 3px solid var(--lineTitle);
  color: var(--TextHeader);
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin: 40px 10px 20px;
  padding-bottom: 10px;
  width: fit-content;
  font-size: 30px;
}
.about .merg p {
  font-size: 22px;
  line-height: 1.8;
  font-weight: 500;
  color: var(--wordDetails);
  margin-bottom: 30px;
}
.about .merg p span {
  font-weight: bold;
  font-weight: 600;
}
.about .merg .download {
  width: 200px;

  background-image: linear-gradient(to right, #176ab7 0%, #113f67 51%, #176ab7 100%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-size: 200% auto;
  transition: 0.5s;  

	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	&:hover {
    background-position: right center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
 &:active {
	position:relative;
	top:1px;
}
 }
    
/* ***** start media ***** */
@media (max-width: 992px) {
  .about {
    width: 100vw;
  }
  .about .profile {
    width: 95%;
  }
  .about .merg h4 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {

  .about .merg ul {
    padding: 0;
  }
  .about .merg ul li {
    font-size: 20px;
    width: 100%;
    margin: 5px 0;
  }
  .about .merg ul li span {
    font-size: 18px;
  }
  .about .profile {
    width: 100%;
    padding: 30px 0px
  }
  .about .merg p {
    width: 100%;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  .about .merg p span {
    font-weight: 400;
  }
}
