.home {
  position: relative;
  width: 800px;
  height:  100vh;
  background-color: var(--HomeBackground);
}
.home .merg {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.tag-wrap {
  filter: drop-shadow(4px 4px 20px #00000046);
  width: 100%;
  height: 60%;
}

.home .merg .tamerPhoto {
  transform: translateX(20%);
  width: 50%;
  height: 100%;
  -webkit-clip-path: polygon(
      92.32051% 40%,
      93.79385% 43.1596%,
      94.69616% 46.52704%,
      95% 50%,
      94.69616% 53.47296%,
      93.79385% 56.8404%,
      92.32051% 60%,
      79.82051% 81.65064%,
      77.82089% 84.50639%,
      75.35575% 86.97152%,
      72.5% 88.97114%,
      69.3404% 90.44449%,
      65.97296% 91.34679%,
      62.5% 91.65064%,
      37.5% 91.65064%,
      34.02704% 91.34679%,
      30.6596% 90.44449%,
      27.5% 88.97114%,
      24.64425% 86.97152%,
      22.17911% 84.50639%,
      20.17949% 81.65064%,
      7.67949% 60%,
      6.20615% 56.8404%,
      5.30384% 53.47296%,
      5% 50%,
      5.30384% 46.52704%,
      6.20615% 43.1596%,
      7.67949% 40%,
      20.17949% 18.34936%,
      22.17911% 15.49361%,
      24.64425% 13.02848%,
      27.5% 11.02886%,
      30.6596% 9.55551%,
      34.02704% 8.65321%,
      37.5% 8.34936%,
      62.5% 8.34936%,
      65.97296% 8.65321%,
      69.3404% 9.55551%,
      72.5% 11.02886%,
      75.35575% 13.02848%,
      77.82089% 15.49361%,
      79.82051% 18.34936%
    );
    clip-path: polygon(
      92.32051% 40%,
      93.79385% 43.1596%,
      94.69616% 46.52704%,
      95% 50%,
      94.69616% 53.47296%,
      93.79385% 56.8404%,
      92.32051% 60%,
      79.82051% 81.65064%,
      77.82089% 84.50639%,
      75.35575% 86.97152%,
      72.5% 88.97114%,
      69.3404% 90.44449%,
      65.97296% 91.34679%,
      62.5% 91.65064%,
      37.5% 91.65064%,
      34.02704% 91.34679%,
      30.6596% 90.44449%,
      27.5% 88.97114%,
      24.64425% 86.97152%,
      22.17911% 84.50639%,
      20.17949% 81.65064%,
      7.67949% 60%,
      6.20615% 56.8404%,
      5.30384% 53.47296%,
      5% 50%,
      5.30384% 46.52704%,
      6.20615% 43.1596%,
      7.67949% 40%,
      20.17949% 18.34936%,
      22.17911% 15.49361%,
      24.64425% 13.02848%,
      27.5% 11.02886%,
      30.6596% 9.55551%,
      34.02704% 8.65321%,
      37.5% 8.34936%,
      62.5% 8.34936%,
      65.97296% 8.65321%,
      69.3404% 9.55551%,
      72.5% 11.02886%,
      75.35575% 13.02848%,
      77.82089% 15.49361%,
      79.82051% 18.34936%
    );
  }
  

.home .merg .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap : 10px;
  width: 100%;
  height: 40%;
}
.home h1 {
  font-size: 50px;
  font-weight: 400;  
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  color: var(--textHello);
  text-shadow: 2px 5px 5px #0000007e;
}
.home .FrontEnd {
  text-align: center;
  overflow: hidden;
}
.home .FrontEnd p {
  color: var(--frontEnd);
  font-weight: 700;
  font-size: 20px;
}
.home .merg .social {
  right: 10px;
  text-align: center;
  font-size: 35px;
}
.home .merg .social .bi {
  color: var(--textHello);
  margin: 40px 10px;
  text-shadow: 3px 3px 5px #000000b8;
}

.home .merg .social .bi:hover {
  text-shadow: none;
}

/* ***** start media  ***** */

@media (max-width: 992px) {
  .home {
    width: 100vw;
    height: 100%;
  }
  .home .merg .tamerPhoto{
    width: 500px;
    height: 500px;
    top: 10%;
  }
}

@media (max-width: 420px) {
  .home {
    width: 100vw;
  }
  .home h1 {
    font-size: 30px;
  }
  .home .FrontEnd p{
    font-size: 18px;
  }
  .home .merg .tamerPhoto {
    position: absolute;
    left: 5%;
    top: 8%;
    width: 320px;
    height: 320px;
  }
  .home .merg .name {
    right: 20%;
    top: 52%;
  }
  .home .merg .social {
    font-size: 25px;
  }
}

/* ***** end media 992px ***** */
