.bar {
  position: fixed;
  width: 200px;
  left: 0px;
  top: 0px;
  height: 100%;
  padding: 15px;
  background-color: var(--Bar);
  z-index: 100;
  overflow-y: scroll;
}
.bar::-webkit-scrollbar{
  display: none;
}
.bar .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 150px;
  height: 150px;
  border-radius: 15px;

  border: 3px solid #0000;
  background: linear-gradient(var(--headerBar), var(--headerBar)) padding-box, 
              linear-gradient( var(--angle), #070707, #687aff) border-box;
  animation: 8s rotate linear infinite;

}
.bar .header h1 { 
  margin: 0;
  font-size: 75px;
  font-family: 'Playball', cursive;
  color: var(--textHeader);
  text-shadow:var(--shadowText);
}
.bar .links {
  margin: 30px 0;
}
.bar .links ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}
.bar .links ul li:not(:last-child) {  
  border-bottom: 1px solid var(--borderBar);
}
.bar .links ul li {
  margin: 10px 0;
  padding: 10px 3px;
  display: flex;
  align-items: center;
}
.bar .links ul li .bi {
  color: var(--textmenu);
  font-size: 25px;
}
.bar .links ul li:hover a {
  color: yellow;
  margin-left: 10px;
}

.bar .links ul li a {
  text-decoration: none;
  color: var(--textmenu);
  font-weight: 400;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  transition: 0.5s;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.activeLink{
  color: yellow !important;
}
.noActiveLink{
  color: white;
}
/* ***** media small ***** */

@media (max-width:992px) {
  .bar {
    width: 75px;
    height: 100%;
    padding: 0px;
  }
  
  .bar .header {
    margin: 7px;
    width: 60px;
    height: 60px;
  }
  .bar .header h1 { 
    font-size: 35px;
  }
  .bar .links {
    margin: 0;
  }
  .bar .links ul li {
    margin:  0;
    padding: 10px 1px;
  }
  .bar .links ul li .bi {
    margin-right: 0px;
  }  
  .bar .links ul li a {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .bar .links ul li:hover a {
    margin-left: 0px;
  }

}

@media (max-width:420px) {
  .bar{
   display: none;
  }  
  ul{
    margin-top: 30px;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
