/* details*/
.module {
  position: absolute;
  top: 15%;
  left: 0px;
  width:100%;
  min-height: 50%;
  
  background-color: #63636366;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 1000;
}
.mainModule {
  position: relative;
  width: 100%;
  height: 100%;
}
/* ### close ### */
.CloseBar {
  position: fixed;
  top: 20px;
  right: 50px;
  font-size: 30px;

}

.CloseBar:hover  {
  fill: red;
  animation: span 0.5s linear;  
}
/* ########## */
/* show and hide details */
.disapeare {
  visibility: hidden;
  transform: scale(0,0);
  opacity: 0;
}
.apeare {
  visibility: visible;
  transform: scale(1,1);
  opacity: 1;
}
/* ########## */
/* design the details */
.module .webDetails {
    width: 100%;
    height: 100%;
    padding: 60px 20px;
}
.titleModule{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleModule h3{
  width: 90%;
  text-align: center;
    color:black
}
.module .webDetails .body{
    width: 100%;    
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding:20px;
    gap: 10px;
}
.module .webDetails .photo {
  width: 50%;
  flex-basis: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.module .webDetails .photo img {
  width: 300px;
  height: 210px;
  border-radius: 12px;
  border: 1px solid black;
}
.module .webDetails .detail {
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  background-color: white;
  border: 1px solid gray;
  box-shadow: -1px 2px 10px #00000098;
  overflow-y: scroll;
}
.module .webDetails .detail::-webkit-scrollbar {
  display: none;
}
.module .webDetails .detail h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.module .webDetails .detail h3 b{
    color: #780404;
}
.module .webDetails .detail .feature{
    font-size: 20px;
    text-decoration: underline;
}
/* button liveBreview */
.webDetails .photo .btn {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 14px -7px #276873;

  background-image: linear-gradient(
    to right,
    #176ab7 0%,
    #113f67 51%,
    #176ab7 100%
  );
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-size: 200% auto;
  transition: 0.5s;

  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 100%;
  font-weight: bold;
  &:hover {
    background-position: right center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

/* animation */
@keyframes span {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ######## */
@media (max-width:992px) {
  .module{
    top: 10%;
    left: -20px;
  }
}
@media (max-width:420px) {
  .module{  
    left: 0px;
  }
  .mainModule {
    padding: 25px 5px;
  }
  .module .webDetails {
    padding: 20px 5px;
}
.module .webDetails .body{
  padding:0px;
}
  .CloseBar {
    top: 10px;
    right: 10px;
  }

.module .webDetails .body{
    padding-top: 5px;
    width: 95%;    
}
.module .webDetails .photo {
  gap: 10px;
}
.module .webDetails .photo img {
  height: 180px;
}
.module .webDetails .detail {
  width: 100%;
  height: 50%;
}
.module .webDetails .detail h3{
    font-size: 18px;
    margin-bottom: 10px;
}
}