.porto {
  width: 800px;
  height: 100%;
  background-image: var(--OddBackground);
}

.porto .merg h4{
  color: var(--wordDetails);  
  font-family: Oswald, sans-serif;
}
.porto .merg h4 span{
  font-weight: 600;
  color:  var(--lineH1);
}
.porto .merg h5{
  color:  var(--lineH1);
}

.mySwiper{
  margin-top: 40px;
  height: 50vh;
}

.porto .merg .webSite{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #0000003d;
}
.porto .merg .webSite .image{
  width: 100%;  
  height: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}
.porto .merg .webSite .image img{
  width: 100%;
  height: 100%;
  border: 1px solid #87C0CD;
  border-radius:  10px;
}
.porto .merg .webSite .image:hover img{
  box-shadow:none ;
}

.porto .merg .webSite .image::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.278) ;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.porto .merg .webSite .image:hover::after{
  opacity: 1;
  visibility: visible;
}
.porto .merg .webSite .bi-eye-fill{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: #8d5b00;
  font-size: 70px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.porto .merg .webSite .image:hover .bi-eye-fill{
  visibility: visible;
  opacity: 1;
}
.porto .merg .webSite .buttons{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.porto .merg .webSite .btn {
  width: 80%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content:center;
	box-shadow: 0px 10px 14px -7px #276873;

  background-image: linear-gradient(to right, #176ab7 0%, #113f67 51%, #176ab7 100%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-size: 200% auto;
  transition: 0.5s;  

	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 100% ;
	font-weight:bold;
	&:hover {
    background-position: right center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
&:active {
	position:relative;
	top:1px;
}
  }

/* ***** start media ***** */

@media (max-width: 992px) {
  .porto {
    width: 100vw;
    height: 100%;
  }
  .mySwiper{
    margin-top: 60px;
    height: 50vh;
  }


}

@media (max-width: 768px) {
  .mySwiper{
    margin-top: 60px;
    height: 45vh;
  }
  .porto .merg .webSite .buttons{
    height: 70%;
  }
}
@media (max-width: 420px){

  .mySwiper{
    margin-top: 30px;
    width: 100%;
    height: 60vh;
  }
  .porto .merg .webSite .buttons{
    height: 50%;
  }
}